<div>
  <form [formGroup]="namesForm">
    <div class="input-group">
      <div *ngFor="let n of getNames().controls; let i=index" formArrayName="names">
        <label>Name {{i+1}}</label>
        <tui-input formControlName="{{i}}">
          Type a name!
          <input
            tuiTextfieldLegacy
            type="text"
          />
        </tui-input>
        <tui-error
          formControlName="{{i}}"
          [error]="[] | tuiFieldError | async"
        />
      </div>
    </div>
  </form>
  <div id="button-group">
    <button
      (click)="addNameInput()"
      class="button-add"
      size="m"
      tuiButton
      type="button"
    >
      <tui-icon
        badge=""
        icon="@tui.plus"
      />
    </button>
    <button
      (click)="removeNameInput()"
      class="button-minus"
      size="m"
      tuiButton
      type="button">
      <tui-icon
        badge=""
        icon="@tui.minus"
      />
    </button>
  </div>
</div>
